<div [formGroup]="tzFormGroup">

  <div class=" row" *ngIf="enableTZ">
    <div class="column flex-fill">
    </div>
     <div class="column tzonepicker">
      <ng-moment-timezone-picker
        [formControlName]="'timezone'"
        [customPlaceholderText]="'Timezone'">
      </ng-moment-timezone-picker>
    </div>
    <div class="column flex-fill">
    </div>
  </div>

  <div class="row">
    <div class="column flex-fill">
    </div>
    <div class="column jsbflipclock">
      <JSB-flipclock
        [HoursTensPlace]=HoursTensPlace
        [HoursOnesPlace]=HoursOnesPlace
        [MinutesTensPlace]=MinutesTensPlace
        [MinutesOnesPlace]=MinutesOnesPlace
        [SecondsTensPlace]=SecondsTensPlace
        [SecondsOnesPlace]=SecondsOnesPlace
        >
      </JSB-flipclock>
    </div>
    <div class="column flex-fill">
    </div>
  </div>

  <div class="column bigdate">
    {{DateText}}
  </div>



</div>
