/**/__Previews
/**/Debug
/**/Release
/**/.launches
/**/.config
/**/targetConfigs
/**/__pycache__
/**/.idea
/**/node_modules
/**/venv
/sw/pyBackend/splitFlapClockRadioBackend/cfgSplitFlapClockRadio.json
