<div *ngIf="spotifyReport != undefined">

  <div class="row" *ngIf="spotifyReport.isOn">
    <div class="w100 curArtist">

      <div class="containerCurrent">
        <div class="scrollingCurrent">{{spotifyReport.currentArtist}}</div>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="spotifyReport.isOn">
    <div class="w100 curTrack">
      <div class="containerCurrent">
        <div class="scrollingCurrent">{{spotifyReport.currentTrack}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="w10"></div>
    <div class="w10">
      <button mat-button (click)=previous($event)>
        <mat-icon>skip_previous</mat-icon>
      </button>
    </div>
    <div class="w60 text-center">
      <button mat-button class="button-class" (click)=turnOn($event) *ngIf="spotifyReport.isOn == false">
        <mat-icon style="-webkit-text-fill-color:burlywood">play_arrow</mat-icon>
      </button>
      <button mat-button class="button-class" (click)=turnOff($event) *ngIf="spotifyReport.isOn == true">
        <mat-icon style="-webkit-text-fill-color:burlywood">stop</mat-icon>
      </button>
    </div>
    <div class="w10">
      <button mat-button (click)=next($event)>
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <div class="w10"></div>
  </div>

  <div class="row" *ngIf="spotifyReport.isOn">
    <div class="column w100" align="center">
      <app-volume></app-volume>
    </div>
  </div>

</div>
