<div class="container w100" >

  <div class="card border-dark w100 my-2 mainContainer">
    <div class="text-center bg-cardtitle pt-2">
      <h4>FM Radio Tuner</h4>
    </div>

    <div class="card-body w100">
      <app-radio-current></app-radio-current>
    </div>
  </div>


  <div class="card border-dark w100 my-2 mainContainer">
    <div class="text-center bg-cardtitle pt-2">
      <h4>Radio Station List</h4>
    </div>

    <div class="card-body w100">
      <app-radio-list></app-radio-list>
    </div>
  </div>

</div>
