<div class="row m-auto">
  <div class="column w50 m-auto">
    <ng-container *ngIf="authStatus !== undefined">
      <ng-container *ngIf="authStatus.includes('Logged in') == true">
        Spotify-cli status: <b class="text-success">{{authStatus}}</b>
      </ng-container>
      <ng-container *ngIf="authStatus.includes('Logged in') == false">
        Spotify-cli status: <b class="text-danger">{{authStatus}}</b>
      </ng-container>
    </ng-container>
    <mat-spinner *ngIf="authStatus == undefined" [diameter]="32"></mat-spinner>
  </div>
  <div class="column w50 m-auto">
    <button mat-button  (click)=openDialogUpdateSpotifyCli()>
      <mat-icon>settings</mat-icon> Change Spotify-cli credentials
    </button>
  </div>
</div>
<div class="row m-auto">
  <div class="column w50 m-auto">
    <ng-container *ngIf="deviceVisible !== undefined">
      <ng-container *ngIf="deviceVisible == true">
        Raspotify status: <b class="text-success">Device found.</b>
      </ng-container>
      <ng-container *ngIf="deviceVisible == false">
        Raspotify status: <b class="text-danger">Device not found.</b>
      </ng-container>
    </ng-container>
    <mat-spinner *ngIf="deviceVisible == undefined" [diameter]="32"></mat-spinner>
  </div>
  <div class="column w50 m-auto">
    <button mat-button  (click)=openDialogUpdateRaspotify()>
      <mat-icon>settings</mat-icon> Change Raspotify credentials
    </button>
  </div>
</div>
