<div class="w90" *ngIf="statusArray != undefined">
  <div class="card border-dark mainContainer">
    <div class="text-center bg-cardtitle pt-2 w100">
        <h4>{{status['FLAP_TYPE']}}</h4>
    </div>
    <div class="card-body w100" >
      <div class="row m-0" *ngFor="let field of statusArray; let i = index">
          <div class="column inputContainer">
            <mat-form-field>
                <mat-label>{{field.description}}</mat-label>
                <input matInput placeholder="digit number" [(ngModel)]="field.value">
            </mat-form-field>
          </div>
          <div class="column">
            <button mat-mini-fab class="updateButton" color="primary" (click)="setParameter(field.description,field.value)">
              <mat-icon aria-label="Example icon-button with a heart icon">publish</mat-icon>
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
