<div class="container w100" >

  <div class="card border-dark w100 my-2 mainContainer">
    <div class="text-center bg-cardtitle pt-2">
      <h4>Spotify Player</h4>
    </div>

    <div class="card-body w100">
      <app-spotify-current></app-spotify-current>
    </div>
  </div>


  <div class="card border-dark w100 my-2 mainContainer">
    <div class="text-center bg-cardtitle pt-2">
      <h4>Spotify Item List</h4>
    </div>

    <div class="card-body w100">
      <app-spotify-list></app-spotify-list>
    </div>
  </div>

</div>
